RewriteEngine On

RewriteRule ^$ rain/index.php [L]
RewriteRule ^read rain/reader.php [L]
RewriteRule ^search rain/search.php [L]

# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
</IfModule>
# END EXPIRES